<!DOCTYPE html>
<html>
  <head>
    <title>教学效果</title>
	<#include '../common/coursecss.html'>
	 <link href="${request.contextPath}/style/css/index.css" rel="stylesheet" type="text/css" /> 
	 <style>
	 a:hover{text-decoration:none!important}
	 .bg{min-width:1296px;height:260px;margin-top:33px;background: url(${request.contextPath}/assets/images/bg-effect.png) no-repeat top center #278ed6;}
	 </style>
  </head>
  <body>
    <#include '../common/header.html'>
   <div class="bg"></div> 
    <div class="content">
    <div class="container1">
    	<div class="left">
    		<dl class="no-border">
    			<dt style="text-align:center;padding-left:0px"><span class="span-dt" style="font-family:Microsoft YaHei; font-size:18px;">${channel.name}</span></dt>
    			<!-- 将child.name集合排序 -->
    			<#list channel.children as child>
    					<dd><a href="${request.contextPath}/course/effect/${courseid}/${child.id}" class="a1"><span class="span-dd">${child.name}</span></a></dd>
    			</#list>
    		</dl>
    	</div>
    	<div class="right">
    		<div class="right-color">
    			&nbsp;
    		</div>
    		<div style="border-bottom:15px solid #8397aa;">	
					<script language="JavaScript1.1" type="text/javascript">
					 var requiredMajorVersion = 8;
					 var requiredMinorVersion = 0;
					 var requiredRevision = 0;
					
					 var isIE  = (navigator.appVersion.indexOf("MSIE") != -1) ? true : false;
					 var isWin = (navigator.appVersion.toLowerCase().indexOf("win") != -1) ? true : false;
					 
					 function JSGetSwfVer(i){
					             if (navigator.plugins != null && navigator.plugins.length > 0) {
					                         if (navigator.plugins["Shockwave Flash 2.0"] || navigator.plugins["Shockwave Flash"]) {
					                                    var swVer2 = navigator.plugins["Shockwave Flash 2.0"] ? " 2.0" : "";
					                         			var flashDescription = navigator.plugins["Shockwave Flash" + swVer2].description;
					                                    descArray = flashDescription.split(" ");
					                                    tempArrayMajor = descArray[2].split(".");
					                                    versionMajor = tempArrayMajor[0];
					                                    versionMinor = tempArrayMajor[1];
					                                    if ( descArray[3] != "" ) {
					                                                tempArrayMinor = descArray[3].split("r");
					                                    } else {
					                                                tempArrayMinor = descArray[4].split("r");
					                                    }
					                         versionRevision = tempArrayMinor[1] > 0 ? tempArrayMinor[1] : 0;
					             flashVer = versionMajor + "." + versionMinor + "." + versionRevision;
					             } else {
					                                    flashVer = -1;
					                         }
					             }
					             else if (navigator.userAgent.toLowerCase().indexOf("webtv/2.6") != -1) flashVer = 4;
					             else if (navigator.userAgent.toLowerCase().indexOf("webtv/2.5") != -1) flashVer = 3;
					             else if (navigator.userAgent.toLowerCase().indexOf("webtv") != -1) flashVer = 2;
					             else {                       
					                         flashVer = -1;
					             }
					             return flashVer;
					 } 
					 
					 function DetectFlashVer(reqMajorVer, reqMinorVer, reqRevision) 
					 {
					             reqVer = parseFloat(reqMajorVer + "." + reqRevision);
					             for (i=25;i>0;i--) {       
					                         versionStr = JSGetSwfVer(i);              
					                         if (versionStr == -1 ) { 
					                                    return false;
					                         } else if (versionStr != 0) {
					                                    versionArray      = versionStr.split(".");
					                                    
					                                    versionMajor      = versionArray[0];
					                                    versionMinor      = versionArray[1];
					                                    versionRevision   = versionArray[2];
					                                    
					                                    versionString     = versionMajor + "." + versionRevision;   
					                                    versionNum        = parseFloat(versionString);
					                                    if ( (versionMajor > reqMajorVer) && (versionNum >= reqVer) ) {
					                                                return true;
					                                    } else {
					                                                return ((versionNum >= reqVer && versionMinor >= reqMinorVer) ? true : false );    
					                                    }
					                         }
					             }          
					             return (reqVer ? false : 0.0);
					 }
					</script>
					
					<!-- Start of document placement code -->
					<script language="JavaScript" type="text/javascript">
					 <!-- 
					 //var width=800
					 var height=1050
					 var align="center"
					 var name="Print2FlashDoc"
					 //打开的swf文件路径
					 var url="${request.contextPath}/style/img/print2flash/2.doc.swf"
					 if(isIE && isWin) {  
					     var oeTags = '<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"'
					     + 'width="'+'100%'+'" height="'+height+'" align="'+align+'" id="'+name+'"'
					     + 'codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version='+requiredMajorVersion+','+requiredMinorVersion+','+requiredRevision+',0">'
					     + '<param name="movie" value="'+url+'" /><param name="quality" value="best" />'
					     + '<param name="allowScriptAccess" value="sameDomain" />'
					     + '<param name="allowFullScreen" value="true" />'
					     + '<\/object>';
					     document.write(oeTags);   
					   } else if(DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision)) {
					     var oeTags = '<embed src="'+url+'" quality="best" '
					     + 'width="'+'100%'+'" height="'+height+'" align="'+align+'" name="'+name+'"'
					     + 'play="true"'
					     + 'loop="false"'
					     + 'quality="best"'
					     + 'allowScriptAccess="sameDomain"'
					     + 'allowFullScreen="true"'
					     + 'type="application/x-shockwave-flash"'
					     + 'pluginspage="http://www.macromedia.com/go/getflashplayer">'
					     + '<\/embed>'
					     document.write(oeTags);   
					   } else {
					     var alternateContent = 'This content requires the Adobe Flash Player. '
					             + '<a href="http://www.macromedia.com/go/getflash/">Get Flash</a>';
					     document.write(alternateContent);  
					   }
					  -->
					 </script>
					 <noscript>
					             This content requires the Adobe Flash Player.
					               <a href="http://www.macromedia.com/go/getflash/">Get Flash</a></noscript>
    		</div>
    	</div>
   </div>
    <#include '../common/footer.html'>
    </div>


  
  
      <script language="JavaScript">
    function GetDoc(movieName) {
        var isIE = navigator.appName.indexOf("Microsoft") != -1;
        return (isIE) ? window[movieName] : document[movieName];
    }

    function Search() {
        GetDoc('Print2FlashDoc').SearchText(document.all.searchbox.value);
    }
    
    function onPageChanged() {
        setTimeout("UpdatePageNumber()",1);
    }
    
    function UpdatePageNumber() {
        document.all.pagenum.value=GetDoc('Print2FlashDoc').getCurrentPage()+" of "+GetDoc('Print2FlashDoc').getNumberOfPages();
    }    
	</script>
	
  </body>
</html>
