
   <nav id='main-nav' style="margin-right:0px">
	<div class='navigation fch1'>
		<ul class=' nav-stacked '>
			<li class='fch3'><a href='${request.contextPath}/courseadmin/index'"><i class='icon-dashboard icon-menu'></i><span>后台首页</span></a></li>
			<li class='list-dropdown'><i class='icon-group icon-menu'></i> <span class="icon-li">课程信息</span>
				<ul class='fch2'>
					<li ><a href='${request.contextPath}/courseadmin/tocmanage/${course.id}/info'><span>课程信息</span> </a></li>
					<li ><a href='${request.contextPath}/courseadmin/tocmanage/${course.id}/lesson'><span>课时管理</span> </a></li>
				</ul>
			</li>
			
		</ul>


	</div>
</nav>

