<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>云课堂</title>
<meta http-equiv="keywords" content="云课堂 " />
<meta http-equiv="description" content="云课堂" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='${request.contextPath}/assets/images/favicon.ico' rel='shortcut icon' type='image/x-icon'>
<!-- / bootstrap [required] -->
<link
	href="${request.contextPath}/assets/stylesheets/bootstrap/bootstrap.css"
	media="all" rel="stylesheet" type="text/css" />
<!-- / theme file [required] -->
<link href="${request.contextPath}/assets/stylesheets/light-theme.css"
	media="all" id="color-settings-body-color" rel="stylesheet"
	type="text/css" />
<!-- / coloring file [optional] (if you are going to use custom contrast color) -->
<link href="${request.contextPath}/assets/stylesheets/theme-colors.css"
	media="all" rel="stylesheet" type="text/css" />
<!-- / demo file [not required!] -->
<link href="${request.contextPath}/assets/stylesheets/demo.css"
	media="all" rel="stylesheet" type="text/css" />
<link href="${request.contextPath}/assets/stylesheets/fineuploader.css"
	media="all" rel="stylesheet" type="text/css" />
<link
	href="${request.contextPath}/assets/stylesheets/plugins/jquery_fileupload/jquery.fileupload-ui.css"
	media="all" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
      <script src="${request.contextPath}/assets/javascripts/ie/html5shiv.js" type="text/javascript"></script>
      <script src="${request.contextPath}/assets/javascripts/ie/respond.min.js" type="text/javascript"></script>
    <![endif]-->
<link href="${request.contextPath}/assets/stylesheets/treeTable.min.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="${request.contextPath}/assets/stylesheets/zTreeStyle.css"
	type="text/css">
<link
	href="${request.contextPath}/assets/stylesheets/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.min.css"
	media="all" rel="stylesheet" type="text/css" />
</head>