<!-- <div class="foot" id="footer" >
	<ul>	
	<li>
	<a  href=""><span >关于我们</span></a>
	<a  href=""><span >服务协议</span></a>
	<a  href=""><span >运营规范</span></a>
	<a  href=""><span >客服中心</span></a>
	<a  href=""><span >联系邮箱</span></a>	
	</li>
	<li class="lia">
	<span>Copyright © 2012-2015 XD. All Rights Reserved.</span>	
	</li>
	</ul>
</div> -->
<div class="footer rel" style="margin-top:50px;min-width:1296px">
	<p>技术支持：南京第五十五所技术开发有限公司 保留所有权利，未经允许，不得复制、镜像</p>
	<p>Copyright ©2010 - 2017,All Rights Reserved 苏ICP 备09031036号-4</p>
</div>
	<!-- <div class="footer rel" style="margin-top:50px;min-width:1296px">
		 <p>主管：江苏省教育厅 &nbsp; 主办:江苏省教育管理信息中心江苏省电化教育馆江苏省职业教育与终身教育研究所</p>
		<p>技术支持：江苏省凤凰职业教育图书有限公司 保留所有权利，未经允许，不得复制、镜像</p>
		<p>Copyright ©2010 - 2017,All Rights Reserved 苏ICP 备09031036号-4</p>
	</div>-->