<!-- <div id="slides">
	<div class="slides_container">
		<div class="slide slide-1">
			<div class="w-1200">
				<a class="btn-checkDetail" href="${request.contextPath}/hd/channel/1"></a>
			</div> 
		</div>
		<div class="slide slide-2"></div>
		<div class="slide slide-3"></div>
	</div>
	<ul class="banner-bar">
		<li><a class="wkds-icon banner-bar1" href="${request.contextPath}/user/tousersignup/1">我要报名</a></li>
		<li><a class="wkds-icon banner-bar2" href="javascript: void(0);">制作微课</a></li>
		<li><a class="wkds-icon banner-bar3" href="javascript: void(0);">上传作品</a></li>
	</ul>
</div> -->
<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide swiper-slide1">

				</div>
				<div class="swiper-slide swiper-slide2">

				</div>
				<div class="swiper-slide swiper-slide3">

				</div>
			</div>
			
			<div class="swiper-pagination"></div>
		</div>