<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>修改密码</title>
<meta name="description" content="">
<link href="${request.contextPath}/style/css/index.css" rel="stylesheet" type="text/css" />
<link href="${request.contextPath}/assets/stylesheets/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
<!-- / theme file [required] -->

<link href="${request.contextPath}/style/css/reset.css" rel="stylesheet" type="text/css" />
<link href="${request.contextPath}/style/css/main.css" rel="stylesheet" type="text/css">
<link href="${request.contextPath}/style/css/common.css" rel="stylesheet" type="text/css">
<link href='${request.contextPath}/assets/images/favicon.ico' rel='shortcut icon' type='image/x-icon'>
</head>
<body>
	<#include '../common/hdheader.html'>
	<div class="full person-info-content">
		<div class="w-1200 clearfix">
			<div class="person-head-img fl">
				<img src="${(user.headimg)!'${request.contextPath}/style/img/head.png'}" width="128" height="128" />
				<div class="person-head-bg"></div>
				<div class="person-info">
					<div class="person-info-name">${(user.realname)!user.username}</div>
					<!-- <a class="person-info-edit" href="${request.contextPath}/user/touseredit" target="_blank">修改个人信息</a> -->
				</div>
			</div>
		</div>
	</div>
	<div class="w-1200 center clearfix">
		<div class="center-nav fl">
			<ul id="userleft">
				<li><a href="${request.contextPath}/user/tocenter"><img
						src="${request.contextPath}/style/img/information-white.png" class="mt10" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人信息</a>
				</li>
				<li class="on"><a href="${request.contextPath}/user/editpassword"> <img src="${request.contextPath}/style/img/wdds.png"
						class="mt10" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改密码
				</a></li>
			</ul>
		</div>

		<div class="center-content fl">
			<form id="eidtForm1" method="post">
				<ul class="per-form" style="margin: 40px 0 40px 175px">

					<li class="per-info-item per-padding"><label>原始密码：</label>
						<div class="per-info-control">
							<input class="form-input" type="password" id="oldpassword" onblur="checkoldpw()" />
						</div>
						<div class="yzmm1 hide bmyz2" id="oldalert">
							<em class="login-font-red yzfont">原始密码错误</em>
						</div>
						<div class="yzmm1 hide bmyz2" id="oldemp">
							<em class="login-font-red yzfont">原始密码不能为空</em>
						</div></li>

					<li class="per-info-item per-padding"><label>新密码：</label>
						<div class="per-info-control">
							<input class="form-input" type="password" id="newpassword" onblur="passwordsure()"
								onfocus="$('.yz6').addClass('hide')" />
						</div>
						<div class="yzmm2 hide bmyz2 yz6">
							<em class="login-font-red yzfont">新密码不能为空</em>
						</div></li>

					<li class="per-info-item per-padding"><label>确认密码：</label>
						<div class="per-info-control">
							<input class="form-input" type="password" id="surenewpassword" onblur="surepassword1()"
								onfocus="$('.yz5').addClass('hide')" />
						</div>
						<div class="yzmm3 hide bmyz2 yz5">
							<em class="login-font-red yzfont">两次密码不一致</em>
						</div></li>

				</ul>

				<div class="per-form-btns ml320">
					<input class="btn btn-blue btn-edit" onclick="change();return false;" type="button"
						value="保存密码" />
				</div>
			</form>
		</div>
	</div>
	<#include '../common/hdfooter.html'> <#include '../common/hdjs.html'>
	<script>
		//password
		function checkoldpw(){
			var oldpw=$("#oldpassword").val();
			
			if(oldpw==""){
				$("#oldemp").removeClass('hide');
				return;
			}
			
			var id=${user.id};
			var data={oldpw:oldpw,id:id};
				$.ajax({
				url : "${request.contextPath}/user/checkoldppw",
				type : "post",
				data : data,
				success : function(s) {
					if(s==false){
						$("#oldemp").addClass('hide');
						$("#oldalert").removeClass('hide');
					}
					if(s==true){
						$("#oldalert").addClass('hide');
					}
				}
			})
		}
		
		function passwordsure(){
			var password = $("#newpassword").val();
			if (password)
			{
				password = $.trim(password);
			}
			if(password==""){$(".yz6").removeClass('hide')};
		}
		
		function surepassword1(){
			var password = $("#newpassword").val();
			var surepassword=$("#surenewpassword").val();
			if (surepassword)
			{
				surepassword = $.trim(surepassword);
			}
			if(surepassword!=password){$(".yz5").removeClass('hide');return;};
		}
		
		function change(){
	        var oldpw=$("#oldpassword").val();
			if(oldpw==""){
				$("#oldemp").removeClass('hide');
				return;
			}
			
			var password = $("#newpassword").val();
			var surepassword=$("#surenewpassword").val();
			if (surepassword)
			{
				surepassword = $.trim(surepassword);
			}
			if(surepassword!=password){$(".yz5").removeClass('hide');return;};
			
			
			var id=${user.id};
			var data={oldpw:oldpw,id:id};
				$.ajax({
				url : "${request.contextPath}/user/checkoldppw",
				type : "post",
				data : data,
				success : function(s) {
					if(s==false){
						$("#oldemp").addClass('hide');
						$("#oldalert").removeClass('hide');
					}
					if(s==true){
						$("#oldalert").addClass('hide');
						var newpw= $("#newpassword").val();
						if (newpw)
						{
							newpw = $.trim(newpw);
						}
						if(newpw==""){$(".yz6").removeClass('hide');return;}
						var id=${user.id};
						var data={newpw:newpw,id:id};
							$.ajax({
							url : "${request.contextPath}/user/updatepw",
							type : "post",
							data : data,
							success : function(s) {
								alert(s.msg);
								location.href ="${request.contextPath}/user/tocenter";
							}
						})
					}
				}
			})
		}
		
		
	</script>
</body>
</html>