<nav id='main-nav' style="margin-right:0px">
	<div class='navigation fch1'>
		<ul class=' nav-stacked '>
			<li class='fch3'><a href='${request.contextPath}/admin/index'"><i class='icon-dashboard icon-menu'></i><span>后台首页</span></a></li>
			<li class='list-dropdown'><i class='icon-group icon-menu'></i> <span class="icon-li">用户管理</span>

				<ul class='fch2' style="list-style:none">
					<li class=''><a href='${request.contextPath}/admin/user'><span>用户管理</span> </a></li>
					<li class=''><a href='${request.contextPath}/admin/role'><span>角色管理</span> </a></li>
				</ul></li>

			<li class='list-dropdown'><i class='icon-list-alt icon-menu'></i> <span class="icon-li">学校管理</span>

				<ul class='fch2' style="list-style:none">
					<li class=''><a href='${request.contextPath}/hdadmin/channel'><span>学校管理</span> </a></li>

				</ul></li>
		</ul>


	</div>
</nav>